body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    flex-direction: column;
}

#score-container {
    margin-bottom: 20px;
    text-align: center;
    font-family: sans-serif;
}

#game-container {
    border: 1px solid black;
}